<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
import pandas as pd
import os
import numpy as np

In [2]:
os.chdir('C:\\Users\\Gökhan Akay\\Desktop\\BeautifulSoup\\Selenium Stocks')

In [3]:
stock = 'SISE'

In [4]:
df = pd.read_excel(stock+'.xlsx')
df.set_index('Unnamed: 0' , inplace = True)
df.index = df.index.str.strip()
df = df.transpose().fillna('')
df.shape

(20, 124)

In [5]:
temp_list = []
for i in range(0,124):
    temp_list.append(i)
    
temp_list.remove(0)
temp_list.remove(72)
temp_list.remove(115)

In [6]:
df = df.iloc[:, temp_list]

In [7]:
temp_list = df.index.str.split('/')
df['Year'] = [item[0] for item in temp_list]
df['Month'] = [item[1] for item in temp_list]

In [8]:
def append_quarterly_cols(old_col, new_col, minus = 1):
    df[new_col] = df[old_col].diff(periods = -1)
    df[new_col] = np.where(df.Month == '3', df[old_col],df[new_col])
    df[new_col] = df[new_col]*minus

In [9]:
append_quarterly_cols('Satış Gelirleri', 'Çeyreklik Satışlar')
append_quarterly_cols('DÖNEM KARI (ZARARI)', 'Çeyreklik Dönem Karı')
append_quarterly_cols('Net Faaliyet Kar/Zararı', 'Çeyreklik Faaliyet Karı')
append_quarterly_cols('BRÜT KAR (ZARAR)', 'Çeyreklik Brüt Kar')
append_quarterly_cols('(Esas Faaliyet Dışı) Finansal Gelirler', 'Çeyreklik Finansman Geliri')
append_quarterly_cols('(Esas Faaliyet Dışı) Finansal Giderler (-)', 'Çeyreklik Finansman Gideri')
append_quarterly_cols('Pazarlama, Satış ve Dağıtım Giderleri (-)', 'Çeyreklik PSD Giderleri', -1)
append_quarterly_cols('Genel Yönetim Giderleri (-)', 'Çeyreklik Genel Yönetim Giderleri', -1)
append_quarterly_cols('Diğer Faaliyet Gelirleri', 'Çeyreklik Diğer Faaliyet Gelirleri')
append_quarterly_cols('Diğer Faaliyet Giderleri (-)', 'Çeyreklik Diğer Faaliyet Giderleri')
append_quarterly_cols('Satışların Maliyeti (-)', 'Çeyreklik Satışların Maliyeti', -1)
append_quarterly_cols('Yatırım Faaliyetlerinden Gelirler', 'Çeyreklik Yatırım Faaliyeti Geliri')
append_quarterly_cols('Yatırım Faaliyetlerinden Giderler (-)', 'Çeyreklik Yatırım Faaliyeti Gideri')
df['Çeyreklik Net Finansman'] = df['Çeyreklik Finansman Geliri'] + df['Çeyreklik Finansman Gideri']
df['FAVÖK'] = df['Net Faaliyet Kar/Zararı']+df['Amortisman Giderleri']
append_quarterly_cols('FAVÖK', 'Çeyreklik FAVÖK')
append_quarterly_cols('Finansman Gideri Öncesi Faaliyet Karı/Zararı', 'Çeyreklik Finansman Öncesi Kar Zarar')
append_quarterly_cols('SÜRDÜRÜLEN FAALİYETLER VERGİ ÖNCESİ KARI (ZARARI)', 'Çeyreklik Vergi Öncesi Kar Zarar')
df['Çeyreklik Vergi'] = df['Çeyreklik Vergi Öncesi Kar Zarar'] - df['Çeyreklik Dönem Karı']
append_quarterly_cols('Amortisman Giderleri', 'Çeyreklik Amortisman')
append_quarterly_cols('FAALİYET KARI (ZARARI)', 'Çeyreklik Esas Faaliyet Karı')
append_quarterly_cols('Araştırma ve Geliştirme Giderleri (-)', 'Çeyreklik ARGE Gideri', -1)
df['Yıllıklandırılmış Dönem Karı'] = df['Çeyreklik Dönem Karı'].rolling(4).sum().apply(lambda x: '%.3f' % x).shift(-3)
df['Yıllıklandırılmış Satışlar'] = df['Çeyreklik Satışlar'].rolling(4).sum().apply(lambda x: '%.3f' % x).shift(-3)
df['Yıllıklandırılmış Esas Faaliyet Karı'] = df['Çeyreklik Esas Faaliyet Karı'].rolling(4).sum().apply(lambda x: '%.3f' % x).shift(-3)
df['Yıllıklandırılmış Faaliyet Karı'] = df['Çeyreklik Faaliyet Karı'].rolling(4).sum().apply(lambda x: '%.3f' % x).shift(-3)
df['Stock'] = stock

In [10]:
df.iloc[:,-5:].head()

Unnamed: 0,Yıllıklandırılmış Dönem Karı,Yıllıklandırılmış Satışlar,Yıllıklandırılmış Esas Faaliyet Karı,Yıllıklandırılmış Faaliyet Karı,Stock
2021/12,9224376000.000,32057875000.000,6228023000.000,5500879000.000,SISE
2021/9,4828832000.000,27721182000.000,5068583000.000,4794969000.000,SISE
2021/6,4726712000.000,25283794000.000,4732278000.000,4172596000.000,SISE
2021/3,3502531000.000,22412266000.000,3535702000.000,3011946000.000,SISE
2020/12,2824571000.000,21340686000.000,3246078000.000,2754566000.000,SISE

In [11]:
df.columns = list(map(lambda x: x.replace(')', ''), list(df.columns)))
df.columns = list(map(lambda x: x.replace('(', ''), list(df.columns)))
df.columns = list(map(lambda x: x.replace(' ', '_'), list(df.columns)))
df.columns = list(map(lambda x: x.lower(), list(df.columns)))
df.columns = list(map(lambda x: x.replace('ö', 'o'), list(df.columns)))
df.columns = list(map(lambda x: x.replace('ü', 'u'), list(df.columns)))
df.columns = list(map(lambda x: x.replace('ğ', 'g'), list(df.columns)))
df.columns = list(map(lambda x: x.replace('ş', 's'), list(df.columns)))
df.columns = list(map(lambda x: x.replace('ı', 'i'), list(df.columns)))
df.columns = list(map(lambda x: x.replace('ç', 'c'), list(df.columns)))
col_list = list(df.columns)

In [15]:
change_list = []
for i in range(0, len(list(df.columns))):
    if list(df.columns).count(df.columns[i]) > 1:
        print(i, df.columns[i], list(df.columns).count(df.columns[i]))
        change_list.append(i)

2 finansal_yatirimlar 2
3 ticari_alacaklar 2
4 finans_sektoru_faaliyetlerinden_alacaklar 2
5 diger_alacaklar 2
6 musteri_sozlesmelerinden_dogan_varliklar 2
7 stoklar 2
8 canli_varliklar 2
10 ara_toplam 2
13 ticari_alacaklar 2
14 finans_sektoru_faaliyetlerinden_alacaklar 2
15 diger_alacaklar 2
16 musteri_sozlesmelerinden_dogan_varliklar 2
17 finansal_yatirimlar 2
19 canli_varliklar 2
21 stoklar 2
31 finansal_borclar 2
32 diger_finansal_yukumlulukler 2
33 ticari_borclar 2
34 diger_borclar 2
36 finans_sektoru_faaliyetlerinden_borclar 2
37 devlet_tesvik_ve_yardimlari 2
42 ara_toplam 2
45 finansal_borclar 2
46 diger_finansal_yukumlulukler 2
47 ticari_borclar 2
48 diger_borclar 2
50 finans_sektoru_faaliyetlerinden_borclar 2
51 devlet_tesvik_ve_yardimlari 2
68 azinlik_paylari 2
79 diger_gelir_ve_giderler 2
91 diger_gelir_ve_giderler 2
107 azinlik_paylari 2

In [16]:
change_list[8:15]

[13, 14, 15, 16, 17, 19, 21]

In [17]:
for i in change_list[:8]:
    col_list[i] = col_list[i] + '_donen'

In [18]:
for i in change_list[8:15]:
    col_list[i] = col_list[i] + '_duran'

In [19]:
for i in change_list[15:22]:
    col_list[i] = col_list[i] + '_kisa'

In [20]:
for i in change_list[23:28]:
    col_list[i] = col_list[i] + '_uzun'

In [21]:
col_list[79] = col_list[79] + 'bilanco'
col_list[91] = col_list[91] + 'gt'

In [22]:
col_list[68] = col_list[68] + 'bilanco'
col_list[107] = col_list[107] + 'gt'

In [23]:
df.columns = col_list

In [24]:
change_list = []
for i in range(0, len(list(df.columns))):
    if list(df.columns).count(df.columns[i]) > 1:
        print(i, df.columns[i], list(df.columns).count(df.columns[i]))
        change_list.append(i)

In [29]:
df.drop('satis_amacli_elde_tutulan_duran_varliklara_i̇liskin_yukumlulukler', axis = 1, inplace = True)
df.drop('calisanlara_saglanan_faydalara_i̇lis.kars.', axis = 1, inplace = True)
df.drop('karsilikli_i̇stirak_sermayesi_duzeltmesi_-', axis = 1, inplace = True)
df.drop('hisse_senedi_i̇hrac_primleri', axis = 1, inplace = True)
df.drop('faali̇yet_kari_zarari', axis = 1, inplace = True)
df.drop('surdurulen_faali̇yetler_vergi̇_oncesi̇_kari_zarari', axis = 1, inplace = True)
df.drop('surdurulen_faali̇yetler_donem_kari/zarari', axis = 1, inplace = True)
df.drop('durdurulan_faali̇yetler', axis = 1, inplace = True)

In [50]:
from sqlalchemy import create_engine
import psycopg2

engine = create_engine('postgresql://postgres:13Tane33@localhost:5432/postgres')

df.to_sql("stocks", engine, if_exists='append')