In [1]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']

In [2]:
zip(list1, list2)

In [3]:
list(zip(list1, list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [4]:
import pandas as pd

In [5]:
pd.DataFrame(zip(list1, list2))

   0  1
0  1  a
1  2  b
2  3  c
3  4  d